* {
    box-sizing: border-box;
    /* border: 1px red solid; */
}

body {
    margin: 25px; 
    background-color:lightseagreen;
}

#title {
    background-color: indianred;
    padding: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

h1 {
    color: yellow;
}

button {
    height: 50px;
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    background-color:white;
}

p {
    text-align: center;
    width: 100px;
}

.button-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: indianred;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

#left-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(8,20px [col-start]);
    grid-template-rows: repeat(8, 20px);  
}

.medium-grid {
    display: grid;
    grid-template-columns: repeat(16,20px [col-start]);  
}

.larger-grid {
    display: grid;
    grid-template-columns: repeat(32,20px [col-start]);  
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    gap: 5px;
}

#right-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
h1 {
    text-align: center;
}

.grids {
    border: 1px grey solid;
    width: 20px;
    height: 20px;
    background-color: lightgray;
}

/* .grids:hover {
    background-color: red;
} */



